
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

/* font-family: 'Roboto Mono', monospace; */


body{
    font-family: 'Roboto Mono', monospace;
    background-color: #FDE68A;
}
#txt-input{ 
    max-width:800px;
    width: 50%;
    height: 15vh;
    display: block;
    /* padding: 1rem; */
    position: relative;
    left: 22%;
    top: 0%;
    /* margin-bottom: 1rem; */
    margin: 2rem 1rem;
    border-radius: 10px;
    background-color: transparent;
    
}
textarea::placeholder{
    padding: 1rem;
}
h1{
    margin: 0;
    background-color: #FBBF24;
    text-transform: uppercase;
    text-align: center;
    height: 15vh;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

}
button{
     background-color: #FBBF24;
     color: #B45309;
     padding: 0.6rem;
     position: relative;
     left: 42%;
     top: 50%;
     border-style: none;
     font-weight: bold;
     font-size: 20px;
}
button:hover{
    border:  2px solid #B45309;
}
hr{
    width: 52%;
    position: relative;
    left: 0%;
    right: 0%;
    margin-top: 30px;
    
}

#output {
    max-width: 800px;
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: 20%;
    right: 5%;
   border-radius: 10px;
}
.outputdiv{
    text-align: center;
    padding: 0.8rem 0;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 24px;
}
footer{
    background-color: #FBBF24;
    padding: 10px 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
footer h2,
p{
    text-align: center;
    
}